<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<th:block layout:fragment="script">
  <script src="/js/pages/serverMonitoring.js"></script>
</th:block>

<div layout:fragment="content">
	<div th:class="container-fluid">
		<div class="monitorBox">
			<div class="manageBox row">
				<div class='title'>서버 모니터링<span id='server_count'></span></div> 
				<div id="server_list" class='col-md-12 monitor multi'></div>
				<div class='title'>노드 모니터링<span id='server_count'></span></div> 
				<div id="node_list" class='col-md-12 monitor multi'></div>
			</div>
		</div>
		<script>
		<!-- onRendered -->
			search()
		</script>
	</div>
</div>
</html>
